.page-content {
    table:not(.footnote):not(.indextable):not(.hlist):not(.option-list):not(.field-list) {
        @extend .mdl-data-table;
        @extend .mdl-shadow--2dp;

        margin: 14px 0px;
        table-layout: fixed;
        width: 100%;

        // Added from pervious Table fixes, may not be suitable
        th.head {background-color: black};
        th.head>p {color: white; margin:0px};
        tr.row-even {background-color: #F7F9FC};
        td>p {margin: 0px}; /* minimise table row height */

        th, td {
            @extend .mdl-data-table__cell--non-numeric;
            white-space: normal;
            overflow-wrap: break-word;
            border: 1px solid #eceeef;
        }
    }
}

.mdl-data-table, .page-content table:not(.footnote):not(.indextable):not(.hlist):not(.option-list):not(.field-list) {
    font-size: 16px;
}
