/*
 * Drawer Styles
 */

 .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
    margin-left: $layout-drawer-width;
    width: calc(100% - $layout-drawer-width);
}


.mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: $layout-drawer-width
}

.mdl-layout__container.has-scrolling-header .mdl-layout__content {
    overflow: visible
}

@media screen and (max-width:1024px) {
    .mdl-layout--fixed-drawer>.mdl-layout__content {
        margin-left: 0
    }
    .mdl-layout__container.has-scrolling-header .mdl-layout__content {
        overflow-y: auto;
        overflow-x: hidden
    }
}


.mdl-layout {
    &__drawer {
        background-color: #fff;
        padding-bottom: 80px;
        width: $layout-drawer-width;
        -webkit-transform: translateX(-$layout-drawer-width);
        transform: translateX(-$layout-drawer-width);

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .3);
            border-radius: 6px;
            box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
        }

        > .mdl-layout-title {
            font-weight: bold;
            text-align: center;
            margin: 0;
            padding: 0;
            // background-color: black;
            // line-height: 32px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            min-height: 64px;
            .title {
                color: inherit;
                display: block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                > img.logo {
                    width: 70%;
                    margin: 0;
                    padding: 0;
                    // min-height: 64px;
                }

                &-text {
                    font-weight: bold;
                    text-align: center;
                    padding: 0 10px;
                    margin: 16px 0 8px 0;
                    line-height: 32px;
                    font-family: $body_font_family;
                    color: inherit;
                    display: block;
                }
            }
        }
    }
}
