 /*
  * Search Styles
  */
#waterfall-exp::-webkit-input-placeholder {
    color: #ccc;
}
#waterfall-exp:-ms-input-placeholder {
    color: #ccc;
}
#waterfall-exp::-moz-placeholder {
    color: #ccc;
}

ul.search span.highlighted {
    font-weight: bold;
}

span.highlighted {
    background: #F1C40F;
    display: inline-block;
    font-weight: 700;
    padding: 0 6px;
}

ul.search > li {
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e5e5e5
}

#search-results {
    ul {
        list-style: none;
        padding: 0;
        li {
            > a {
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}
