/*
Variables
*/
$font_size: 16px;

$background_color: #fafafa;
$code_background: rgba(0,0,0,.05);

$body_font_family: lato, 'Noto Sans Japanese' !default;
$code_font_family: monospace, lato, "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console" !default;

$xl-breakpoint: 1795px;
$lg-breakpoint: 1200px;
$md-breakpoint: 992px;
$sm-breakpoint: 768px;
$xs-breakpoint: 576px;


// cover build error variables here
$layout-drawer-width: 20%;
$animation-curve-fast-out-slow-in: 0.2s;
$layout-drawer-navigation-color: inherit;
